/* ==========================================================================
  Reset 
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Projects */

main h1 {
  text-align: center;
}

.project {
  border: 1px solid;
  margin: 1rem;
  display: grid;
  grid-template-rows: 16em auto;
}

.project-image {
  background-color: lightcoral;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  display: grid;
  align-items: center;
}

.project-info {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "name link"
    "description description";
  gap: 0.3rem;
}

.project-name {
  grid-area: name;
}

.project-link {
  grid-area: link;
  text-decoration: none;
  display: flex;
  justify-content: end;
  gap: 0.2rem;
}

.project-description {
  grid-area: description;
}

.project-link .github-icon {
  font-size: 1.8rem;
}

.project-link .github-link {
  height: 1.8rem;
}

/* Footer */

footer {
  background-color: #b0c4de;
  padding-top: 1rem;
}

footer h1 {
  text-align: center;
}

footer .contact-details {
  margin: 1rem;
  margin-bottom: 2.6rem;
}

footer .contact-details > * {
  margin-bottom: 1rem;
}

footer .contact-info {
  display: grid;
  gap: 0.3rem;
}

footer .telephone,
footer .email {
  display: flex;
  align-items: center;
}

footer .telephone::before,
footer .email::before {
  content: "";
  display: inline-block;
  background-size: 1em;
  background-image: url(assets/email.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1em;
  width: 1em;
  margin-right: 0.2rem;
}

footer .telephone::before {
  background-image: url(assets/phone.svg);
}

footer .email::before {
  background-image: url(assets/email.svg);
}

footer .social-links {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.6rem;
}
