/* ==========================================================================
  Reset 
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General */

:root {
  font-size: 1.2rem;
}

.social-links {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.6rem;
}

/* Header */

.name-container {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  margin-bottom: 1em;
}

header {
  margin: 1.6rem;
}

header .person-container {
  position: relative;
}

header .person-container h1 {
  color: white;
  text-align: left;
  font-size: 4rem;
}

header h1 {
  text-align: center;
}

header img {
  margin-bottom: 1rem;
}

header .social-links {
  justify-content: center;
}

/* Projects */

main {
  margin: 0.6rem;
}

main h1 {
  margin-bottom: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

.project {
  border: 1px solid;
  display: grid;
  grid-template-rows: 16em 12em;
}

.project-image {
  background-color: lightcoral;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  display: grid;
  align-items: center;
  padding: 1rem;
}

.project-info {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "name link"
    "description description";
  gap: 0.3rem;
}

.project-name {
  grid-area: name;
}

.project-link {
  grid-area: link;
  text-decoration: none;
  display: flex;
  justify-content: end;
  gap: 0.2rem;
}

.project-description {
  grid-area: description;
}

.project-link .github-icon {
  font-size: 1.8rem;
}

.project-link .github-link {
  height: 1.8rem;
}

/* Footer */

footer {
  background-color: #b0c4de;
  padding-top: 1rem;
}

footer h1 {
  text-align: center;
}

footer .contact-details {
  margin: 1rem;
  margin-bottom: 2.6rem;
}

footer .contact-details > * {
  margin-bottom: 1rem;
}

footer .contact-info {
  display: grid;
  gap: 0.3rem;
}

footer .telephone,
footer .email {
  display: flex;
  align-items: center;
}

footer .telephone::before,
footer .email::before {
  content: "";
  display: inline-block;
  background-size: 1em;
  background-image: url(assets/email.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1em;
  width: 1em;
  margin-right: 0.2rem;
}

footer .telephone::before {
  background-image: url(assets/phone.svg);
}

footer .email::before {
  background-image: url(assets/email.svg);
}

/* Media Queries */

@media (max-width: 680px) {
  /* Projects */

  main h1 {
    text-align: center;
  }
}

@media (min-width: 681px) {
  /* Projects */

  main {
    margin: 2rem;
  }

  .projects {
    gap: 2rem 1.5rem;
  }

  /* Footer */

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header picture"
      "contact picture";
    padding: 2rem;
    padding-top: 3rem;
  }

  footer h1 {
    grid-area: header;
    justify-self: start;
    align-self: end;
    margin-left: 1rem;
  }

  .contact-details {
    grid-area: contact;
  }

  footer picture {
    grid-area: picture;
    width: 60%;
    place-self: center;
  }
}

@media (min-width: 1100px) and (max-width: 1349px) {
  /* Header */

  header {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  header .person-container .name-container h1 {
    color: black;
  }

  .person-container {
    float: left;
  }

  .name-container {
    position: absolute;
    translate: 90% -1em;
    /* Reset Changes */
    background: none;
    top: 0;
    margin: 0;
  }

  .person-container picture img {
    width: 30em;
    margin: 0;
  }

  .person-container {
    margin-top: -5em;
    margin-left: -4em;
    margin-right: 1em;
  }

  header .social-links {
    display: none;
  }

  .about-container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 8rem;
    border: 1px solid;
    padding: 2rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  /* Footer */

  footer {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  /* Projects */

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */

  footer picture {
    width: 80%;
  }
}

@media (min-width: 1350px) {
  /* Header */

  header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .name-container h1 {
    margin-left: 0.4rem;
  }

  .about-container h1 {
    text-align: left;
  }

  header picture {
    height: 100%;
    width: auto;
  }

  .about-container {
    align-self: center;
    border: 1px solid;
    padding: 1rem;
    border-left: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  header .social-links {
    justify-content: end;
  }
}
